

/* a:link {
    text-decoration: none;
    
  }
  
  a:visited {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  a:active {
    text-decoration: underline;
  } */

  .label-link {
    text-decoration: none;
    color: black;
  }

  .nav-logo {
    width: auto;
    height: 100px;
    /* box-shadow: 5px 10px 20px 5px rgba(212, 203, 203, 0.53); */
    /* border-radius: 30px; */
    transition: 4s;
    }

:hover.nav-logo {
  width: auto;
  height: 100px;
  box-shadow: 25px 50px 100px 25px rgba(212, 203, 203, 0.693);
  border-radius: 30px;
  transition: 1s;
}


  :hover.nav-font {
    background-color: rgba(203, 203, 212, 0.384);
    box-shadow: 0 7px 15px 0 rgba(240, 223, 130, 0.421);
    transition: 0.5s;
  }
  .nav-font {
    font-size: 1.5em;
    /* box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.349); */
    border-radius: 20px;
  }